.tag {
	display: inline-block;
	background: var(--green);
	color: var(--black);
	border-radius: 0.1rem;
	padding: 0.5rem;
	text-transform: uppercase;
	font-weight: var(--semi-bold);
	line-height: 100%;
}

.adjust {
	position: relative;
	top: -1px;
}
