.header {
	height: 60px;
	max-width: 100%;
	border-bottom: 1px solid var(--blue);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px;
	position: fixed;
	width: 100vw;
	background: var(--black);
	z-index: 1;
	top: 0;
	left: 0;
}

.headerSlot {
	display: flex;
	align-items: center;
	text-decoration: none;
}

.logo {
	height: 23px;
}

.name {
	margin-left: 20px;
	text-transform: uppercase;
	color: var(--blue);
	font-weight: var(--semi-bold);

	position: relative;
	top: -1px;
}

@media (max-width: 499px) {
	.name {
		display: none;
	}
}
