.projects {
	padding-top: 3.75rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 8.5rem;
}

.projectsLeft,
.projectsRight {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.projectsLeft {
	align-items: flex-end;
}

.projectsRight {
	align-items: flex-start;
	margin-top: 360px;
}

@media (max-width: 1024px) {
	.projects {
		gap: 5rem;
	}
}

@media (max-width: 835px) {
	.projects {
		max-width: var(--small-max-width);
		margin: 0 auto;
	}

	.projectsDesktop {
		display: none;
	}

	.projectsLeft {
		align-items: flex-start;
	}
}

@media (min-width: 836px) {
	.projectsMobile {
		display: none;
	}
}

@media (max-width: 600px) {
	.projects {
		padding-top: 0;
	}
}
