.footer {
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 1px solid var(--blue);
	justify-content: space-between;
	padding: 0 40px;
}

.icon {
	height: 21px;
}

.separator {
	font-family: var(--bst), sans-serif;
	font-size: 20px;
	font-weight: var(--light);
}

.links {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.copy {
	font-size: 0.8rem;
}

.symbol {
	font-size: 1rem;
}

.copy,
.symbol {
	font-family: var(--bst), sans-serif;
}
